$module: 		'form';

.#{$module} {
	margin-bottom: em(30);
	width: em(500);
	max-width: 100%;
	@include clearfix;

	&--chat {
		@include display(flex);
	}

	&__items {
		@include display(flex);
	}

	&__item {
		margin-bottom: em(10);

		&.right {
			margin-left: auto;
		}
	}

	&__control {
		display: block;
		margin-bottom: em(20);
	}

	&__error {
		color: red;
		padding: em(10) 0;
	}

	&__label {
		$fontSize: 16;
		font-size: em($fontSize);
		display: block;
		margin-bottom: em(3,$fontSize);
	}

	&__control--select {
		@extend .#{$module}__control;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			right: em(10);
			top: 50%;
			@include transform(translateY(-50%));
			border-top: 10px solid white;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
		}
	}
	&__select {
		width: em(350);
		max-width: 100%;
		border-radius: em(5);
		background-color: rgba(white,0.1);
		-webkit-appearance: none;
		padding: em(7) em(15) em(10);
		border: 0;
		outline: 0;
		color: white;
	}

	&__input {
		$fontSize: 16;
		font-size: em($fontSize);
		line-height: 1.5;
		padding: em(5,$fontSize) em(6,$fontSize);
		width: 100%;
		display: block;
		outline: 0;
		border: 0;
		background-color: lighten($color4,50%);

		.#{$module}--chat & {
			width: calc(100% - 30px);	
		}		
	}
}